# See http://help.github.com/ignore-files/ for more about ignoring files.








**/target/
**/target/*
*.class

**/.idea/
**/.idea/*
**/*.iml
**/*.ipr


**/.settings/
**/.settings/*
.project
.classpath


**/*.kwlp/
**/*.kwps/*
kwinject.out

**/build/output/
**/build/output/*

**/.svn/
**/.svn/*

**/.vscode/
**/.vscode/*
package-lock.json

**/iui/node/
**/iui/node_modules/
**/iui/dist/
**/iui/npm-debug.log
**/iui/etc/
